<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="CapstoneDemo" connectionString="Data Source=DESKTOP-17QKT94\SQLEXPRESS;Initial Catalog=CapstoneDemo;Integrated Security=True"/>
  </connectionStrings>
</configuration>
<!---->